/* Import Vag Rounded font */
@import url("https://aaditya-baduni.github.io/vag-rounded-font.css");

body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    user-select: none;
}

h1 {
    text-align: center;
    margin-top: 1.5%;
}

#website-title {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1.5%;
    margin-left: 1%;

    font-size: 1.8rem;
    color: rgb(0, 0, 255);
    font-family: VagRounded, sans-serif;
    font-weight: 700;
    letter-spacing: 0.7px;
}

#logo {
    border-radius: 3px;
}

/* Accordian */

#accordian-faq {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

    background-color: white;
    border-radius: 5px;
    padding: 1%;
}

.accordion-button {
    border-radius: 5px;
}

.accordian-body {
    margin-bottom: 15px;
    margin-left: 5px;
}

.accordian-item {
    margin-top: 1%;
}

@media (max-width: 715px) {
#website-title {
    position: static;
}
}

@media (max-width: 1060px) {
#accordian-faq {
    padding: 2%;
}
}

@media (max-width: 575px) {
#accordian-faq {
    padding: 3%;
}
}