@import url('https://fonts.googleapis.com/css2?family=Asap:ital@0;1&display=swap');
/* Import Vag Rounded font */
@import url("https://aaditya-baduni.github.io/vag-rounded-font.css"); 

a:hover {
    text-decoration: none;
}

#my-games-div {
    text-align: center;
    background-color: white;
}
#my-games {
    font-size: 1.4rem;
    font-family: 'Asap', sans-serif;
}

body {
    background-color: rgb(31, 42, 53);
    overflow-x: hidden;
}

/* The games in the cards */

.card {
    margin: 3%;
}

.card-header {
    border-bottom: 2px solid rgba(0,0,0,.500);
}

.card-header > h3 {
    text-align: center;
}

.card-text {
    text-align: center;
    color: white;
}

.games-img {
    max-width: 100%;
    height: auto;
}

/* Navbar icon */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

/* Scroll bar functionality */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgb(184, 183, 183);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
}

/* Link to main website */
#website-title {
    font-size: 1.8rem;
    color: yellow;
    font-family: VagRounded, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

/* The logo image shown next to the Website Title */
#logo-img {
    border: 1px solid white;
    border-radius: 5px;
}