/* For right click */
a {
    color: inherit;
    text-decoration: inherit;
}
#context-menu a:hover {
    text-decoration: none;
}
#context-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background-color: #1b1a1a;
    border-radius: 4px;
    transform: scale(0);
    transform-origin: top left;
    box-shadow: 2px 2px 5px white;
}
#context-menu.active {
    transform: transform 200ms ease-in-out;
    transform: scale(1);
}
#context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
    border-bottom: 1px solid white;
}
#context-menu .item:hover {
    background-color: #555;
    cursor: pointer;
}
#squirrel {
    padding-top: 0px;
    margin-top: 0px;
}