@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap'); /*Google Asap Italics font*/

* {
    color: white;
    font-family: 'Asap', sans-serif;
}

body {
    background-color: black;
    user-select: none;
}

#header {
    display: inline-block;
}

#links {
    display: inline-block;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#heading {
    display: inline-block;
    padding-right: 20px;
    border-right: 3px solid white;
    font-family: 'Asap', sans-serif;
}

.link {
    margin-right: 20px;
    font-family: 'Asap', sans-serif;
    font-size: 20px;
}

/* Name, good morning */
#not-known {
    display: none;
    text-align: center;
    font-size: 40px;
}
#not-known > input {
    color: black;
    font-size: 30px;
}

#submit-btn:hover {
    cursor: pointer;
}

#known {
    font-size: 40px;
    text-align: center;
    display: none;
}

/* Scroll bar functionality */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(150, 150, 150);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
}

*:hover::-webkit-scrollbar {
    width: 5px;
}