* {
    color: white;
}

body {
    background-color: black;
}

#header {
    display: inline-block;
}

#links {
    display: inline-block;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#heading {
    display: inline-block;
    padding-right: 20px;
    border-right: 3px solid white;
}

#games {
    text-align: center;
    background-color: rgba(255, 255, 255, 1.0);
    border: 10px ridge green;
    margin-top: 50px;
    width: 50%;
    margin-left: 25%;
    height: 200px;
    opacity: 0.1;

    transition: opacity;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

#games-para {
    color: black;
    margin-top: 50px;
    font-size: 200%;
}

#games:hover {
    opacity: 1.0;
}

.link {
    margin-right: 20px;
}