@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap'); /*Google Asap Italics font*/

* {
    color: white;
}

body {
    background-color: black;
    user-select: none;
}

#header {
    display: inline-block;
}

#links {
    display: inline-block;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#heading {
    display: inline-block;
    padding-right: 20px;
    border-right: 3px solid white;
    font-family: 'Asap', sans-serif;
}

#games {
    text-align: center;
    background-color: rgba(255, 255, 255, 1.0);
    border: 10px ridge green;
    margin-top: 50px;
    width: 50%;
    margin-left: 25%;
    height: 200px;
    opacity: 0.1;

    transition: opacity;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

#games:hover {
    cursor: pointer;
}

#games-para {
    color: black;
    margin-top: 50px;
    font-size: 200%;
    font-family: 'Asap', sans-serif;
}

#games:hover {
    opacity: 1.0;
}

.link {
    margin-right: 20px;
    font-family: 'Asap', sans-serif;
    font-size: 20px;
}

/* Scroll bar functionality */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(150, 150, 150);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
}

*:hover::-webkit-scrollbar {
    width: 5px;
}