/* Import Asap Italics font */
@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap');

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}

/* Header */
header > h1 {
    font-family: "Asap", sans-serif;
    text-decoration: underline;
    text-align: center;
    margin-top: 0.5%;
    font-size: 2rem;
}

header > p {
    margin: 1%;
    margin-top: 3%;
}

/* Link to games page of my website */
#link {
    color: blue;
    font-family: "Asap", sans-serif;
    text-decoration: none;
    font-size: 1.5rem;

    /* take it out of the HTML flow */
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0.5%;
    margin-left: 0.5%;
}
#link:hover {
    color: red;
}

/* The sound stuff */
.key {
    width: 100%;
    height: 500px;
    /* display: inline-block; */
    border: 4px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 3.125rem;
    margin-left: 2%;
}
.key:hover {
    border: 4px solid white;
    cursor: pointer;
}

#dog {
    background-image: url("puppy.jpg");
    background-size: 100% 100%;
}
#cat {
    background-image: url("https://thumbs-prod.si-cdn.com/d4e3zqOM5KUq8m0m-AFVxuqa5ZM=/800x600/filters:no_upscale():focal(554x699:555x700)/https://public-media.si-cdn.com/filer/a4/04/a404c799-7118-459a-8de4-89e4a44b124f/img_1317.jpg");
    background-size: 100% 100%;
}
#goat {
    background-image: url("https://www.cips.org/PageFiles/161907/goat%20770%20x%20400.jpg.ashx?width=600&height=315&mode=max");
    background-size: 100% 100%;
}
#pig {
    background-image: url("pig.png");
    background-size: 100% 100%;
}

/* Change sizes when screen size is smaller */
@media (max-width: 850px) {
#link {
    font-size: 1rem;
}
header > h1 {
    font-size: 1.5rem;
}
}

@media (max-width: 600px) {
header > h1 {
    text-align: right;
    margin-right: 6%;
}
}

/* Scroll bar functionality */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(50, 50, 50);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
}

*:hover::-webkit-scrollbar {
    width: 5px;
}