@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;  
}

body {
    background-color: rgb(57, 80, 102);
}
header {
    text-align: center;
    background-color: white;
    padding: 10px;
    font-family: 'Asap', sans-serif;
    margin-bottom: 10px;
}
header > h1 {
    margin-right: 12.5%;
}
header > p {
    margin: 5px;
    font-family: Tahoma, Verdana, sans-serif;
}

#born-earth {
    text-align: center;
    font-family: 'Asap', sans-serif;
    background-color: #18841f;
    border-radius: 3px;
    width: 70%;
    margin: auto;
    font-size: 25px;
}

.stuff {
    opacity: 0.1;
    transition: opacity 1s linear;
}
.stuff:hover {
    opacity: 1.0;
    cursor: pointer;
}

a {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: red;
}
a:active {
    color: green;
}
/* Link to main website */
#link {
    font-family: 'Asap', sans-serif;
    float: left;
    display: inline-block;
    font-size: 25px;
    margin-top: 5px;
    letter-spacing: -0.5px;
}